[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
graphviz = "*"

[dev-packages]
jupyter = "*"
jupyterlab = "*"
prompt-toolkit = "*"
jupyter-http-over-ws = "*"

[requires]
python_version = "3.6"
